# Dependency directories
node_modules/
**/node_modules/
dist/
**/dist/

# Java build artifacts
target/
**/target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Database files
data/
**/data/
*.db
*.mv.db
*.trace.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
